bqplot
build
docutils >=0.19
ipykernel
ipyleaflet
jupyter-client
jupyter-packaging
jupyterlab >=4
jupyterlite-core >=0.8.0,<0.9.0
jupyterlite-pyodide-kernel >=0.8.0,<0.9.0
matplotlib
myst-nb >=0.17
numpy
packaging
pkginfo
pydata-sphinx-theme
scikit-image
scikit-learn
sphinx
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-copybutton
sphinxext-rediraffe
sympy
